In [29]:
import pymongo

In [30]:
 # package which enables us to connect to the MongoDB
dbConn = pymongo.MongoClient("mongodb://localhost:27017/")  # connecting to the locally running MongoDB Instance

In [31]:
dbname='demoDB'
db = dbConn[dbname] # connecting to the database named demoDB present in the mongoDB
# if the database is not present, it'll autoamtically create it.

In [33]:
# show all the databases
print(dbConn.list_database_names())

['admin', 'classTest', 'config', 'crawlerDB', 'demoDB', 'local', 'wafers_db']

In [12]:
# check if the databse exists in mongoDB
dblist=dbConn.list_database_names() # obtaining all the database names
db_name='demoDB'

if dblist.index(db_name)==-1:
    print ("This Databse doesn't exist")
else:
    print ("This Databse exists")

This Databse exists

In [13]:
# connecting to a collection--- collections are analogous to tables
collection_name='mongo_demo'
collection=db[collection_name]  # connectig to the collection itself present in the database.

In [14]:
# cheking if a collection exists
if collection_name in db.list_collection_names():
    print("The collection exists.")
else:
    print("The collection doesn't exist.")

The collection exists.

In [18]:
# inserting row into the collection
my_row = {'Serial No': '9998',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'} # creating key value pairs for inserting into the DB

In [19]:
x = collection.insert_one(my_row)  # inserting record into the collection

In [20]:
print(x.inserted_id) # printing the unique id for insert

5e880d2160b8d30edc9c4189

In [24]:
# inserting multiple rows once
my_rows = [
{'Serial No': '9997',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9996',
 'GRE Score': '336',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.6',
 'Research': '0',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9995',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.5',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9994',
 'GRE Score': '334',
 'TOEFL Score': '119',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.4',
 'Research': '1',
 'Chance of Admit': '0.92'},
  {
    'Serial No': '9993',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.65',
 'Research': '1',
 'Chance of Admit': '0.92'}

]# creating key value pairs for inserting into the DB

In [26]:
# inserting records into the collection 
x = collection.insert_many(my_rows)

In [27]:
# printing the unique id for insert
print(x.inserted_ids)

[ObjectId('5e74d705e95ed88943f59443'), ObjectId('5e74d705e95ed88943f59444'), ObjectId('5e74d705e95ed88943f59445'), ObjectId('5e74d705e95ed88943f59446'), ObjectId('5e74d705e95ed88943f59447')]

In [28]:
# retieving all the records from collection
result= collection.find({}) 
result[3] #printing the third record

{'_id': ObjectId('5e74c0f1b6e0ce74542d4910'),
 'Serial No': '4',
 'GRE Score': '322',
 'TOEFL Score': '110',
 'University Rating': '3',
 'SOP': '3.5',
 'LOR': '2.5',
 'CGPA': '8.67',
 'Research': '1',
 'Chance of Admit': '0.8'}

whenever we are calling the find() method, if we have too many rows/records in the table, then we'll get too many responses for that which might overwhelm the application. To overcome this scenario, we have a way in mongoDB to have an upper limit on the number of rows returned.

It is called the **limit()** method.

In [53]:
# printing only the five rows
result_total= collection.find({}).limit(5)
for res in result_total:
    print(res)

{'_id': ObjectId('5e74c0f1b6e0ce74542d490e'), 'Serial No': '2', 'GRE Score': '324', 'TOEFL Score': '107', 'University Rating': '4', 'SOP': '4', 'LOR': '4.5', 'CGPA': '8.87', 'Research': '1', 'Chance of Admit': '0.76'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d490f'), 'Serial No': '3', 'GRE Score': '', 'TOEFL Score': '104', 'University Rating': '3', 'SOP': '3', 'LOR': '3.5', 'CGPA': '8', 'Research': '1', 'Chance of Admit': '0.72'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4910'), 'Serial No': '4', 'GRE Score': '322', 'TOEFL Score': '110', 'University Rating': '3', 'SOP': '3.5', 'LOR': '2.5', 'CGPA': '8.67', 'Research': '1', 'Chance of Admit': '0.8'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4911'), 'Serial No': '5', 'GRE Score': '314', 'TOEFL Score': '103', 'University Rating': '2', 'SOP': '2', 'LOR': '3', 'CGPA': '8.21', 'Research': '0', 'Chance of Admit': '0.65'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4912'), 'Serial No': '6', 'GRE Score': '330', 'TOEFL Score': '115', 'University Rating': '5', 'SOP': '4.5', 'LOR': '3', 'CGPA': '9.34', 'Research': '1', 'Chance of Admit': '0.9'}

In [21]:
# retrieveing some columns
result_some= collection.find({}, {'GRE Score','TOEFL Score'}).limit(5) # retrieveing two columns
# The second parameter in find() specifies which columns to choose
for res in result_some:
    print(res)

{'_id': ObjectId('5e74c0f1b6e0ce74542d490e'), 'GRE Score': '324', 'TOEFL Score': '107'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d490f'), 'GRE Score': '', 'TOEFL Score': '104'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4910'), 'GRE Score': '322', 'TOEFL Score': '110'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4911'), 'GRE Score': '314', 'TOEFL Score': '103'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4912'), 'GRE Score': '330', 'TOEFL Score': '115'}

In [36]:
# finding the rows satisfying a given criteria
my_db_query={'GRE Score':'337'}
# printing all the rows where GRE Score is 337
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

{'_id': ObjectId('5e74c0f1b6e0ce74542d490d'), 'Serial No': '1', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4afd'), 'Serial No': '497', 'GRE Score': '337', 'TOEFL Score': '117', 'University Rating': '5', 'SOP': '5', 'LOR': '5', 'CGPA': '9.87', 'Research': '1', 'Chance of Admit': '0.96'}
{'_id': ObjectId('5e74c521e95ed88943f59441'), 'Serial No': '9999', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5e74c53ee95ed88943f59442'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5e74d705e95ed88943f59443'), 'Serial No': '9997', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5e74d705e95ed88943f59445'), 'Serial No': '9995', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('5e74d705e95ed88943f59447'), 'Serial No': '9993', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [41]:
my_db_query={'GRE Score':{'$gt':'337'}}
# printing all the rows where GRE Score is greaterthan 330
result_GRE= collection.find(my_db_query)
for res in result_GRE:
    print(res)

{'_id': ObjectId('5e74c0f1b6e0ce74542d4926'), 'Serial No': '26', 'GRE Score': '340', 'TOEFL Score': '120', 'University Rating': '5', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '1', 'Chance of Admit': '0.94'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d492d'), 'Serial No': '33', 'GRE Score': '338', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '3', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.91'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d492e'), 'Serial No': '34', 'GRE Score': '340', 'TOEFL Score': '114', 'University Rating': '5', 'SOP': '4', 'LOR': '4', 'CGPA': '9.6', 'Research': '1', 'Chance of Admit': '0.9'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d493c'), 'Serial No': '48', 'GRE Score': '339', 'TOEFL Score': '119', 'University Rating': '5', 'SOP': '4.5', 'LOR': '4', 'CGPA': '9.7', 'Research': '0', 'Chance of Admit': '0.89'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d495e'), 'Serial No': '82', 'GRE Score': '340', 'TOEFL Score': '120', 'University Rating': '4', 'SOP': '5', 'LOR': '5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.96'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4961'), 'Serial No': '85', 'GRE Score': '340', 'TOEFL Score': '115', 'University Rating': '5', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.45', 'Research': '1', 'Chance of Admit': '0.94'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4978'), 'Serial No': '108', 'GRE Score': '338', 'TOEFL Score': '117', 'University Rating': '4', 'SOP': '3.5', 'LOR': '4.5', 'CGPA': '9.46', 'Research': '1', 'Chance of Admit': '0.91'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d498f'), 'Serial No': '131', 'GRE Score': '339', 'TOEFL Score': '114', 'University Rating': '5', 'SOP': '4', 'LOR': '4.5', 'CGPA': '9.76', 'Research': '1', 'Chance of Admit': '0.96'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d499c'), 'Serial No': '144', 'GRE Score': '340', 'TOEFL Score': '120', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4', 'CGPA': '9.92', 'Research': '1', 'Chance of Admit': '0.97'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d49a1'), 'Serial No': '149', 'GRE Score': '339', 'TOEFL Score': '116', 'University Rating': '4', 'SOP': '4', 'LOR': '3.5', 'CGPA': '9.8', 'Research': '1', 'Chance of Admit': '0.96'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d49d7'), 'Serial No': '203', 'GRE Score': '340', 'TOEFL Score': '120', 'University Rating': '5', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.91', 'Research': '1', 'Chance of Admit': '0.97'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d49e1'), 'Serial No': '213', 'GRE Score': '338', 'TOEFL Score': '120', 'University Rating': '4', 'SOP': '5', 'LOR': '5', 'CGPA': '9.66', 'Research': '1', 'Chance of Admit': '0.95'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4a29'), 'Serial No': '285', 'GRE Score': '340', 'TOEFL Score': '112', 'University Rating': '4', 'SOP': '5', 'LOR': '4.5', 'CGPA': '9.66', 'Research': '1', 'Chance of Admit': '0.94'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4a77'), 'Serial No': '363', 'GRE Score': '338', 'TOEFL Score': '115', 'University Rating': '5', 'SOP': '4.5', 'LOR': '5', 'CGPA': '9.23', 'Research': '1', 'Chance of Admit': '0.91'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4a8d'), 'Serial No': '385', 'GRE Score': '340', 'TOEFL Score': '113', 'University Rating': '4', 'SOP': '5', 'LOR': '5', 'CGPA': '9.74', 'Research': '1', 'Chance of Admit': '0.96'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4aba'), 'Serial No': '430', 'GRE Score': '340', 'TOEFL Score': '115', 'University Rating': '5', 'SOP': '5', 'LOR': '4.5', 'CGPA': '9.06', 'Research': '1', 'Chance of Admit': '0.95'}

In [42]:
# we can sort the above results as well, this has been sorted in ascending order

result_GRE= collection.find(my_db_query).sort('GRE Score')
for res in result_GRE:
    print(res)

{'_id': ObjectId('5e74c0f1b6e0ce74542d492d'), 'Serial No': '33', 'GRE Score': '338', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '3', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.91'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4978'), 'Serial No': '108', 'GRE Score': '338', 'TOEFL Score': '117', 'University Rating': '4', 'SOP': '3.5', 'LOR': '4.5', 'CGPA': '9.46', 'Research': '1', 'Chance of Admit': '0.91'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d49e1'), 'Serial No': '213', 'GRE Score': '338', 'TOEFL Score': '120', 'University Rating': '4', 'SOP': '5', 'LOR': '5', 'CGPA': '9.66', 'Research': '1', 'Chance of Admit': '0.95'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4a77'), 'Serial No': '363', 'GRE Score': '338', 'TOEFL Score': '115', 'University Rating': '5', 'SOP': '4.5', 'LOR': '5', 'CGPA': '9.23', 'Research': '1', 'Chance of Admit': '0.91'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d493c'), 'Serial No': '48', 'GRE Score': '339', 'TOEFL Score': '119', 'University Rating': '5', 'SOP': '4.5', 'LOR': '4', 'CGPA': '9.7', 'Research': '0', 'Chance of Admit': '0.89'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d498f'), 'Serial No': '131', 'GRE Score': '339', 'TOEFL Score': '114', 'University Rating': '5', 'SOP': '4', 'LOR': '4.5', 'CGPA': '9.76', 'Research': '1', 'Chance of Admit': '0.96'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d49a1'), 'Serial No': '149', 'GRE Score': '339', 'TOEFL Score': '116', 'University Rating': '4', 'SOP': '4', 'LOR': '3.5', 'CGPA': '9.8', 'Research': '1', 'Chance of Admit': '0.96'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4926'), 'Serial No': '26', 'GRE Score': '340', 'TOEFL Score': '120', 'University Rating': '5', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '1', 'Chance of Admit': '0.94'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d492e'), 'Serial No': '34', 'GRE Score': '340', 'TOEFL Score': '114', 'University Rating': '5', 'SOP': '4', 'LOR': '4', 'CGPA': '9.6', 'Research': '1', 'Chance of Admit': '0.9'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d495e'), 'Serial No': '82', 'GRE Score': '340', 'TOEFL Score': '120', 'University Rating': '4', 'SOP': '5', 'LOR': '5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.96'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4961'), 'Serial No': '85', 'GRE Score': '340', 'TOEFL Score': '115', 'University Rating': '5', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.45', 'Research': '1', 'Chance of Admit': '0.94'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d499c'), 'Serial No': '144', 'GRE Score': '340', 'TOEFL Score': '120', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4', 'CGPA': '9.92', 'Research': '1', 'Chance of Admit': '0.97'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d49d7'), 'Serial No': '203', 'GRE Score': '340', 'TOEFL Score': '120', 'University Rating': '5', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.91', 'Research': '1', 'Chance of Admit': '0.97'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4a29'), 'Serial No': '285', 'GRE Score': '340', 'TOEFL Score': '112', 'University Rating': '4', 'SOP': '5', 'LOR': '4.5', 'CGPA': '9.66', 'Research': '1', 'Chance of Admit': '0.94'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4a8d'), 'Serial No': '385', 'GRE Score': '340', 'TOEFL Score': '113', 'University Rating': '4', 'SOP': '5', 'LOR': '5', 'CGPA': '9.74', 'Research': '1', 'Chance of Admit': '0.96'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4aba'), 'Serial No': '430', 'GRE Score': '340', 'TOEFL Score': '115', 'University Rating': '5', 'SOP': '5', 'LOR': '4.5', 'CGPA': '9.06', 'Research': '1', 'Chance of Admit': '0.95'}

In [43]:
# we can sort the above results in descending order

result_GRE= collection.find(my_db_query).sort('GRE Score',-1)
for res in result_GRE:
    print(res)

{'_id': ObjectId('5e74c0f1b6e0ce74542d4926'), 'Serial No': '26', 'GRE Score': '340', 'TOEFL Score': '120', 'University Rating': '5', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.6', 'Research': '1', 'Chance of Admit': '0.94'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d492e'), 'Serial No': '34', 'GRE Score': '340', 'TOEFL Score': '114', 'University Rating': '5', 'SOP': '4', 'LOR': '4', 'CGPA': '9.6', 'Research': '1', 'Chance of Admit': '0.9'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d495e'), 'Serial No': '82', 'GRE Score': '340', 'TOEFL Score': '120', 'University Rating': '4', 'SOP': '5', 'LOR': '5', 'CGPA': '9.5', 'Research': '1', 'Chance of Admit': '0.96'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4961'), 'Serial No': '85', 'GRE Score': '340', 'TOEFL Score': '115', 'University Rating': '5', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.45', 'Research': '1', 'Chance of Admit': '0.94'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d499c'), 'Serial No': '144', 'GRE Score': '340', 'TOEFL Score': '120', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4', 'CGPA': '9.92', 'Research': '1', 'Chance of Admit': '0.97'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d49d7'), 'Serial No': '203', 'GRE Score': '340', 'TOEFL Score': '120', 'University Rating': '5', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.91', 'Research': '1', 'Chance of Admit': '0.97'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4a29'), 'Serial No': '285', 'GRE Score': '340', 'TOEFL Score': '112', 'University Rating': '4', 'SOP': '5', 'LOR': '4.5', 'CGPA': '9.66', 'Research': '1', 'Chance of Admit': '0.94'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4a8d'), 'Serial No': '385', 'GRE Score': '340', 'TOEFL Score': '113', 'University Rating': '4', 'SOP': '5', 'LOR': '5', 'CGPA': '9.74', 'Research': '1', 'Chance of Admit': '0.96'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4aba'), 'Serial No': '430', 'GRE Score': '340', 'TOEFL Score': '115', 'University Rating': '5', 'SOP': '5', 'LOR': '4.5', 'CGPA': '9.06', 'Research': '1', 'Chance of Admit': '0.95'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d493c'), 'Serial No': '48', 'GRE Score': '339', 'TOEFL Score': '119', 'University Rating': '5', 'SOP': '4.5', 'LOR': '4', 'CGPA': '9.7', 'Research': '0', 'Chance of Admit': '0.89'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d498f'), 'Serial No': '131', 'GRE Score': '339', 'TOEFL Score': '114', 'University Rating': '5', 'SOP': '4', 'LOR': '4.5', 'CGPA': '9.76', 'Research': '1', 'Chance of Admit': '0.96'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d49a1'), 'Serial No': '149', 'GRE Score': '339', 'TOEFL Score': '116', 'University Rating': '4', 'SOP': '4', 'LOR': '3.5', 'CGPA': '9.8', 'Research': '1', 'Chance of Admit': '0.96'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d492d'), 'Serial No': '33', 'GRE Score': '338', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '3', 'LOR': '4.5', 'CGPA': '9.4', 'Research': '1', 'Chance of Admit': '0.91'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4978'), 'Serial No': '108', 'GRE Score': '338', 'TOEFL Score': '117', 'University Rating': '4', 'SOP': '3.5', 'LOR': '4.5', 'CGPA': '9.46', 'Research': '1', 'Chance of Admit': '0.91'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d49e1'), 'Serial No': '213', 'GRE Score': '338', 'TOEFL Score': '120', 'University Rating': '4', 'SOP': '5', 'LOR': '5', 'CGPA': '9.66', 'Research': '1', 'Chance of Admit': '0.95'}
{'_id': ObjectId('5e74c0f1b6e0ce74542d4a77'), 'Serial No': '363', 'GRE Score': '338', 'TOEFL Score': '115', 'University Rating': '5', 'SOP': '4.5', 'LOR': '5', 'CGPA': '9.23', 'Research': '1', 'Chance of Admit': '0.91'}

In [44]:
# Deleting records from mongo DB:
# finding the rows satisfying a given criteria
my_db_query={'GRE Score':'337'}
x=collection.delete_one(my_db_query) # the deletion step
print(x.deleted_count)

1

We have succesfully deleted one row/record from the collection.

Similarly, for deleting multiple rows, we can use **collection.delete_many(my_deb_query)**

For deleting all documents of a collection, we can use **collection.delete_many({})**

In [45]:
# For dropping an entire collection
collection_to_drop=db['test_collection'] # drops the entire collection named 'test collection'
collection_to_drop.drop()

In [48]:
# updating the values present in collection

update_criteria={'GRE Score':'340'}
new_values= { "$set": { "GRE Score": "350" } }

x = collection.update_many(update_criteria, new_values)

print(x.modified_count)

9

We have updated the nine columns with GRE Score 340 with GRE Score 350.

Similarly, we can update only one row by using the function **update_one(update_criteria, new_values)**