<h1>
Problem Statement:
</h1>
<h3>
It happens all the time: someone gives you data containing malformed strings,
Python, lists and missing data. How do you tidy it up so you can get on with the
analysis?<br><br>
Take this monstrosity as the DataFrame to use in the following puzzles:  <br><br>
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',<br>
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],<br>
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],<br>
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],<br>
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})
</h3>

<h3>
    1. Some values in the the FlightNumber column are missing. These numbers are
meant to increase by 10 with each row so 10055 and 10075 need to be put in
place. Fill in these missing numbers and make the column an integer column
(instead of a float column).
</h3>

In [118]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
                               'londON_StockhOlm', 'Budapest_PaRis',
                               'Brussels_londOn'],
                   'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
                   'RecentDelays': [[23, 47], [], [24, 43, 87], [13],
                                    [67, 32]], 'Airline': ['KLM(!)',
                                                           '<Air France> (12)',
                                                           '(British Airways)',
                                                           '12. Air France',
                                                           '"Swiss Air"']})

df.iloc[1, 1] = 10055
df.iloc[3, 1] = 10075
df_new = df['FlightNumber'].astype('int64')
df['FlightNumber'] = df_new
df

            From_To  FlightNumber  RecentDelays            Airline
0      LoNDon_paris         10045      [23, 47]             KLM(!)
1      MAdrid_miLAN         10055            []  <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways)
3    Budapest_PaRis         10075          [13]     12. Air France
4   Brussels_londOn         10085      [67, 32]        "Swiss Air"

<h3>2. The From_To column would be better as two separate columns! Split each
string on the underscore delimiter _ to give a new temporary DataFrame with
the correct values. Assign the correct column names to this temporary
DataFrame.</h3>

In [119]:
df_temp = pd.DataFrame(df.From_To)
df_temp['From'] = df.From_To.str.split('_', expand = True)[0]
df_temp['To'] = df.From_To.str.split('_', expand = True)[1]
df_temp

            From_To      From         To
0      LoNDon_paris    LoNDon      paris
1      MAdrid_miLAN    MAdrid      miLAN
2  londON_StockhOlm    londON  StockhOlm
3    Budapest_PaRis  Budapest      PaRis
4   Brussels_londOn  Brussels     londOn

<h3>3. Notice how the capitalisation of the city names is all mixed up in this
temporary DataFrame. Standardise the strings so that only the first letter is
uppercase (e.g. "londON" should become "London".)
</h3>

In [120]:
df_temp.From = df_temp.From.str.title()
df_temp.To = df_temp.To.str.title()
df_temp.From_To = df_temp.From_To.str.title()
df_temp

            From_To      From         To
0      London_Paris    London      Paris
1      Madrid_Milan    Madrid      Milan
2  London_Stockholm    London  Stockholm
3    Budapest_Paris  Budapest      Paris
4   Brussels_London  Brussels     London

<h3>4. Delete the From_To column from df and attach the temporary DataFrame
from the previous questions.
</h3>

In [121]:
df.drop(['From_To'], axis = 1, inplace = True)
df

   FlightNumber  RecentDelays            Airline
0         10045      [23, 47]             KLM(!)
1         10055            []  <Air France> (12)
2         10065  [24, 43, 87]  (British Airways)
3         10075          [13]     12. Air France
4         10085      [67, 32]        "Swiss Air"

In [122]:
df['From'], df['To'] =  df_temp['From'], df_temp['To']
df

   FlightNumber  RecentDelays            Airline      From         To
0         10045      [23, 47]             KLM(!)    London      Paris
1         10055            []  <Air France> (12)    Madrid      Milan
2         10065  [24, 43, 87]  (British Airways)    London  Stockholm
3         10075          [13]     12. Air France  Budapest      Paris
4         10085      [67, 32]        "Swiss Air"  Brussels     London

<h3>5. In the RecentDelays column, the values have been entered into the
DataFrame as a list. We would like each first value in its own column, each 
second value in its own column, and so on. If there isn't an Nth value, the value
should be NaN.
Expand the Series of lists into a DataFrame named delays, rename the columns
delay_1, delay_2, etc. and replace the unwanted RecentDelays column in df
with delays.</h3>

In [132]:
df['delay_1'] = df.RecentDelays.str.split(',', expand = True).iloc[1,1]
df

IndexError: single positional indexer is out-of-bounds